<html>

<head>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #111;
    }
  </style>
</head>
<body class="bb" >

<ul>
  <li><a class="active" routerLink='list'>Home</a></li>
  <li><a routerLink="employee/add/0">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
<li><a routerLink=''>Exit</a></li>

</ul>





<div class="form-group row"></div>
<div class="form-group row">
  <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">Search</label>
  <div class="col-sm-6">
    <input type="text" [(ngModel)]="searchValue"   class="form-control my-2 w-50"  id="search" />
  </div>
</div>


<!--<label>recherche</label>
<input type="text" [(ngModel)]="searchValue" >-->




<div >
  <h2 class="d-flex justify-content-center my-4" style="color: #b79b9b"> list of employees</h2>
  <!--<a routerLink ="employee/add/0" class="btn btn-primary">ADD</a>-->
  <app-fils [msg]="employeeService.message()" class="my-3" ></app-fils>

  <table  border="3"   class="table table-hover table-dark my-5">

    <thead>
      <th>id</th>
      <th>name</th>
      <th>email</th>
      <th>phone</th>
    <th></th>
      <th></th>

    </thead>
    <tbody>
    <tr *ngFor="let i of employeesse | searchfilter : searchValue" >
      <td>{{i.id}}</td>
      <td>{{i.name}}</td>
      <td>{{i.email}}</td>
      <td>{{i.phone}}</td>
      <td><a [routerLink]="['employee/update',i.id]" class="btn btn-outline-info" >Edit</a></td>
      <td><button type="submit" [routerLink]="['employee/delete',i.id]" class="btn btn-outline-danger" >del</button></td>

    </tr>

    </tbody>

  </table>

</div>




</body>
</html>
