<html>

<head>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #111;
    }
  </style>
</head>
<body class="bb" >

<ul>
  <li><a class="active" routerLink='list'>Home</a></li>
  <li><a routerLink="employee/add/0">News</a></li>
  <li><a routerLink=''>logout</a></li>

</ul>





<div class="form-group row"></div>


<div class="d-flex align-content-around">
  <div> <input class="form-control mr-sm-2 w-75" type="search" [(ngModel)]="employeeService.critere" placeholder="criterion" aria-label="Search">  </div>
   <div><input class="form-control mr-sm-2  w-75" type="search" [(ngModel)]="employeeService.vall" aria-label="Search" placeholder="value"> </div>
  <button class="btn btn-outline-light my-2 my-sm-0 mx-1 h-25" type="submit" (click)="employeeService.rechercheparcritere(employeeService.critere,employeeService.vall)">Search</button>


</div>
<fieldset *ngIf="employeeService.afficher" >

  <table class="table">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">email</th>
      <th scope="col">phone</th>

    </tr>
    </thead>
    <tbody>
    <tr>

      <td>{{employeeService.idrecherche}}</td>
      <td>{{employeeService.namerechrche}}</td>
      <td>{{employeeService.emailrecherche}}</td>
      <td>{{employeeService.phonerecherche}}</td>


    </tr>

    </tbody>
  </table>
</fieldset>


<div >
  <h2 class="d-flex justify-content-center my-4" > list of employees</h2>

  <div *ngIf="employeeService.affiche==true" class="modifcol text-center">your company can have 300 employees, but the The proportion of employees : {{employeeService.y}} %</div>
  <table  border="3"   class="table table-hover table-dark my-5">

    <thead>
      <th>id</th>
      <th>name</th>
      <th>email</th>
      <th>phone</th>
    <th></th>
      <th></th>

    </thead>
    <tbody>
    <tr *ngFor="let i of employeeService.employees  |paginate: {itemsPerPage:3,currentPage:pg}" >
      <td>{{i.id}}</td>
      <td>{{i.name}}</td>
      <td>{{i.email}}</td>
      <td>{{i.phone}}</td>
      <td><a [routerLink]="['employee/update',i.id]" class="btn btn-outline-info" >Edit</a></td>
      <td><button type="submit" (click)="employeeService.delet(i.id)" [routerLink]="['employee/delete',i.id]" class="btn btn-outline-danger" >del</button></td>

    </tr>

    </tbody>

  </table>
  <app-fils [msg]="employeeService.nbr()" (msgcal)="employeeService.aff($event)" class="my-3" ></app-fils>
  <pagination-controls (pageChange)="pg = $event" class="text-center"></pagination-controls>
</div>




</body>
</html>
