<html>
<head>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #111;
    }
  </style>
</head>
<body>

<ul>
  <li><a class="active" [routerLink]="'list'">Home</a></li>
  <li><a routerLink="list/employee/add/0">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>


<h2 class="d-flex justify-content-center"> Add Employee</h2>
<!--<div>
  <form [formGroup]= "form" >
    <div >id :<input formControlName="id" ></div>
    <div >name :<input formControlName="name" ></div>
    <div >email :<input formControlName="email" ></div>
    <div >phone :<input formControlName="phone" ></div>
<div>
  <button type="submit">save </button>
</div>
  </form>
</div>-->
<form [formGroup]="form" (ngSubmit)="empl.sumbit(form.value) " #f="ngForm">
  <div class="container">
    <div>
      <label>id</label>
      <input type="text" required class="form-control" formControlName="id" ngModel name="id">

      <span>You must enter a id</span>
    </div>

    <div>
      <label>Name</label>
      <input type="text" required class="form-control" formControlName="name" ngModel name="name" [maxLength]="8" minlength="3">
      <span>You must enter a name</span>
    </div>




    <div>
      <label>Email</label>

      <input type="email"  pattern=".+@gmail.com"   pattern=".+@esprit.tn" required class="form-control" formControlName="email" ngModel name="email">
      <span>You must enter a Email</span>
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input type="text" class="form-control" formControlName="phone" ngModel name="phone" [ngModel] required
             [maxLength]="8" minlength="8" pattern="^[1-9][0-9]*$">
      <span>You must enter a phone</span>
    </div>



    <div>

      <button [disabled]="form.invalid" type="submit" class="btn btn-outline-info my-3 ">save</button>
    </div>
  </div>
</form>
</body>
</html>
